{% extends 'blog/base.html' %}
        {% block main-area %}
            <div class="card mb-4">
                        {% for post in posts %}
                    <!-- Featured blog post-->


                            {% if post.uploaded_image %}

                        <a href="#!"><img class="card-img-top" src="{{ post.uploaded_image.url }}" /></a>
                            {% else %}
                                <img class="img-fluid rounded" src="https://dummyimage.com/850x350.jpg" alt="..." /></figure>
                            {% endif %}
                        <div class="card-body">
                            <div class="small text-muted">{{ post.create_date }}</div>
                            <h2 class="card-title">{{ post.title }}</h2>
                            <h4 class="card-title">글쓴이:{{ post.author}}</h4>
                            {% if post.category %}
                            <h4 class="card-title">카테고리:{{ post.category}}</h4>
                            {% else %}
                            <h4 class="card-title">카테고리:미분류</h4>
                            {% endif %}
                            <p class="card-text">{{ post.content }}</p>
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>

                        </div>
            {% endfor %}




{% endblock %}
{% block nav_button %}
    <button><a href="/blog/create/">Create</a></button>
{% endblock %}
 {% block text_center %}
                    <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                    {% endblock %}